body {
    background-color: rgb(223,223,223);
}

#row-voltar{
	background-color: rgb(223,223,223);
	padding-top: 5px;
}

.dropdown-menu{
    background-color: steelblue;
}

.fundo-claro{
	background-color: #ffffff;
}


#menu {
    background-color: steelblue;
}

.tab-menu {
	background-color: rgb(234,234,234);
}

#formulario_solicitacao,#tabela_solicitacoes{
}

#tipo_solicitacao{
	padding-bottom: 5px;
}

.sem-padding-left {
    padding-left: 0;
}

.sem-padding-right {
    padding-right: 0;
}

#textarea{
    resize: none;
    width: 100%;
    height: 100px;
}

#perfil{
   
    float: left;
}

#img_pessoa{
	width: 100px;
	height: 100px;
}

#tab-direita{
	margin-left: 0;
}

.btn-importar{
	color: white;
	background-color: steelblue;
	border: none;
	width: 90px;
	height: 40px;
}

#btn-modulo{
	border: none;
	background-color: inherit;
	color: steelblue;
}

#menu a:hover{
    background-color: rgb(100,160,210);
    color: black;
    transition-duration: 0.5s;
}

header ul li {
    margin-left: 5px;
}

#titulo_da_pagina{
	text-align: center;
}

#botao_buscar{
	margin-top: 25px;
}

#img-perfil{
    margin: 5px;
    border-radius: 50px;
    width: 30px;
    height:30px;
    float: left;
}

#img-modulos{
	border-radius: 70px;
	width: 110px;
	height: 110px;
}

#cabecalho-recuperacao{
	margin-bottom: 30px;
}

#listar-solicitacoes,#brand,#link-importar-matriculas,#link-modulos,#link-usuarios,#perfil,#ver-perfil,#sair,#atribuir-modulos,#cadastrar-modulo,#listar-usuarios,#importar-alunos,#importar-servidores,#link-voltar {
	color: white;	
	font-family: 'Righteous', cursive;
}


/*FORMULÁRIOS DE SOLICITAÇÃO DE SEGUNDA CHAMADA E RECORREÇÃO*/
#formulario_solicitacao{
    position: absolute;
    margin-top: 200px;
    background-color: white;
}

.sem-padding-left {
    padding-left: 0;
}

.sem-padding-right {
    padding-right: 0;
}

#textarea{
    resize: none;
    width: 100%;
    height: 100px;
}
/* ---------------------------------------------------------------------*/

#conteudo{
	position: relative;
	margin-top: 50px;
}

.conteudo{
	background-color: white;
}


.espacamentoHorizontal{
	margin-top: 5px;
	margin-bottom: 10px;
	
}

.my-btn-primary{
	height: 33.5px;
	border-radius: 0px;
}
#sem-margin-botton{
	margin-bottom: 0px;
}

#btn-buscarSoli{
	padding-left: 8px;
	margin-left:5px;
}

#labelBuscarSoli{
	margin-top: 8px;
}
					
footer{
	text-align: center;
	position: fixed;
    background-color: steelblue;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.logo-rodape{
    margin: 5px;
    padding-top: 3px;
    border-radius: 50px;
    width: 41px;
    height:40px;
}

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}

#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#searchfield form .biginput:focus {
  color: #858585;
}

#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#searchfield form .biginput:focus {
  color: #858585;
}

.dados-modal{
	margin-bottom: 30px;
	background: LightSteelBlue;
	border: 1.5px solid #000000;
	border-radius: 3px;
	font-weight:normal;
  	font-size: 1.1em;
  	text-decoration: bold;
}

#dadoSolicitacao{
	background: #BCD2EE;
	border: 1.5px solid #000000;
	border-radius: 3px;
	font-weight:normal;
  	font-size: 1.1em;
	
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }